.container {
  margin: 0 auto;
  max-width: 1100px;
  height: 100vh;
  background-color: #000;
}

.navbutton {
  font-family: 'Mulish', sans-serif;
  -webkit-text-stroke: .1px #fff;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.purchasebutton {
  padding: 11px 19px;
  background-color: #fff;
  -webkit-text-stroke: .1px #000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
}

.selectbutton {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: white;
  padding: 1rem 3rem;
  font-size: .8rem;
  width: 5rem;
  font-weight: bold;
  display: inline-block;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

.columntext {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 1.4rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  display: block;
}

header {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  background-color: #000;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  height: 83vh;
}

main #mainsection {
  width: 85%;
  height: 85%;
}

main #mainsection .topflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #mainsection .topflex .albumcover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 228px;
}

main #mainsection .topflex .albumcover .imagecover {
  background-image: url(/Images/albumcover1.jpg);
  background-size: cover;
  width: 246px;
  height: 228px;
}

main #mainsection .topflex .albuminfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 228px;
  padding: .5rem;
}

main #mainsection .topflex .albuminfo .column1, main #mainsection .topflex .albuminfo .column2, main #mainsection .topflex .albuminfo .column3 {
  width: 266px;
  background-color: black;
}

main #mainsection .topflex .albuminfo .column1 {
  font-size: 1.5rem;
}

main #mainsection .topflex .albuminfo .column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fff;
}

main #mainsection .topflex .albuminfo .column2 p {
  margin-left: .6rem;
  margin-bottom: 1rem;
}

main #mainsection .topflex .albuminfo .column2 span {
  font-size: 1rem;
  margin-bottom: 1rem;
}

main #mainsection .topflex .albuminfo .column3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #mainsection .topflex .albuminfo .column3 button {
  margin-left: .5rem;
}

main #mainsection .bottomcolumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
}

main #mainsection .bottomcolumn .flexcolumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #mainsection .bottomcolumn .albumlist, main #mainsection .bottomcolumn .videos {
  border-bottom: 1px solid white;
  height: 18vh;
  width: 100%;
  background-color: blue;
}

footer {
  bottom: 0;
  z-index: 1;
  padding: .5rem 0;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

footer .flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer i {
  display: inline-block;
  font-size: 2rem;
  margin-left: .5rem;
  margin-bottom: .5rem;
}

footer #playbutton:hover, footer #stopbutton:hover {
  color: #DB1210;
}
