.container {
  margin: 0 auto;
  max-width: 1100px;
  height: 100vh;
  background-color: #000;
}

.navbutton {
  font-family: 'Mulish', sans-serif;
  -webkit-text-stroke: .1px #fff;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.columntext {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 1.4rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  display: block;
}

header {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  background-color: #000;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main #section-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  text-align: center;
  background-color: #000;
  height: 83vh;
}

main #section-a .albumbox {
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  width: 22%;
  height: 32%;
  margin: 0 1rem 1rem 0;
  padding: .5rem;
}

main #section-a .album1, main #section-a .album2, main #section-a .album3, main #section-a .album4, main #section-a .album5, main #section-a .album6, main #section-a .album7, main #section-a .album8 {
  width: 100%;
  height: auto;
}

main #section-a span {
  font-size: 1rem;
}

main #section-b {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  -webkit-box-flex: .7;
      -ms-flex: .7;
          flex: .7;
  padding: 1rem;
  height: 83vh;
}

main #section-b .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 0;
  height: 90%;
  border-right: 1px solid #000;
}

footer {
  bottom: 0;
  padding: .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

footer .flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer i {
  display: inline-block;
  font-size: 2rem;
  margin-left: .5rem;
  margin-bottom: .5rem;
}
