.navbutton{
  font-family: 'Mulish', sans-serif;
  -webkit-text-stroke: .1px #fff;
  color:black;
  font-size:20px;
  font-weight:bold;
  display:inline-block;
}
.purchasebutton{
  padding: 11px 19px;
  outline: none;
  appearance: none;
  border: 0;
  background-color: #fff;
  -webkit-text-stroke: .8px #000;
  color:#fff;
  font-size:1rem;
  display:inline-block;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
}