$primaryColor:#000;
$secondaryColor: #fff; 
$pointColor: #DB1210;

.columntext{
    font-family: 'Montserrat', sans-serif;
    color: $primaryColor;
    font-size:1.4rem;
    writing-mode: vertical-rl;
}
@mixin maintext{
    color:$secondaryColor;
    font-size:1.2rem;
    font-family: 'Montserrat', sans-serif;
}