$primaryColor:#000;
$secondaryColor: #fff; 
$pointColor: #DB1210;
$border: 1px solid $secondaryColor;

.columntext{
    font-family: 'Montserrat', sans-serif;
    color: $primaryColor;
    font-size:1.4rem;
    writing-mode: vertical-rl;
}
@mixin maintext{
    color:$secondaryColor;
    font-size:1.2rem;
    font-family: 'Montserrat', sans-serif;
}
.border{
    border-bottom: 1px solid $secondaryColor;
}
select{
  outline: none;
  appearance: none;
  border: 0;
  display:inline-block;
  -webkit-appearance: none;
  width:7rem;
  padding:.8rem .6rem;
  border-radius:10px;
  font-size:1rem;
  -webkit-text-stroke: .8px #000;
  color:#fff;
  position:relative;
}

