@import 'utility.scss';
@import 'button.scss';
@import 'flexcenter.scss';
@import 'config.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:$primaryColor;
}
a{
  text-decoration: none;
  color:$secondaryColor;
}
img{
  display:block;
}
header{
  top:0;
  background-color:$primaryColor;

  nav{
    @include flexcenter(row);
    width:100%;
    justify-content:space-between;
    align-items:center;
    padding: 1rem;
  }
}
main{
  @include flexcenter(row);
  & #section-a {
    @include flexcenter(row);
    flex-wrap:wrap;
    align-items:center;
    padding:1rem;
    flex:1;
    text-align:center;
    height:83vh;
    & .albumbox {
      @include maintext;
      width: 22%;
      height:26%;
      margin:0 1rem 1rem 0;
      padding:1rem;
      & i{
        font-size:1.8rem;
        padding:1rem;
        pointer-events: none;
      }
      & i:hover{
        color: $pointColor;
      }
    }

    & .albumcontent1, .albumcontent2, .albumcontent3, .albumcontent4, .albumcontent5, .albumcontent6, .albumcontent7, .albumcontent8{
      @include flexcenter(row);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:100%;
      height:100%;
      align-items: center;
      opacity:100%;
      transition: .5s ease all;
    }

    & .albumcontent1{
      background-image: url(/Images/albumcover1.jpg);
    }

    & .albumcontent2{
      background-image: url(/Images/albumcover1.jpg);
    }

    & .albumcontent3{
      background-image: url(/Images/albumcover1.jpg);
    }

    & .albumcontent4{
      background-image: url(/Images/albumcover4.jpg);
    }

    & .albumcontent5{
      background-image: url(/Images/albumcover5.jpg);
    }

    & .albumcontent6{
      background-image: url(/Images/albumcover6.jpg);
    }

    & .albumcontent7{
      background-image: url(/Images/albumcover7.jpg);
    }

    & .albumcontent8{
      background-image: url(/Images/albumcover8.jpg);
    }
    & span{
      font-size:1rem;
    }
    & .albumcontent1:hover, .albumcontent2:hover, .albumcontent3:hover, .albumcontent4:hover, .albumcontent5:hover, .albumcontent6:hover, .albumcontent7:hover, .albumcontent8:hover{
      opacity:80%;
    }
  }
  & #section-b {
    font-family: 'Montserrat', sans-serif;
    background-color: $secondaryColor;
    width:150px;
    padding:1rem;
    height: 83vh;

    & .text{
      display:flex;
      flex-direction:row;
      height:90%;
      border-right:1px solid $primaryColor;
    }
  } 
}
footer{
  bottom:0;
  padding:.5rem 0;
  position:sticky;

  @include flexcenter(row);
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color:$secondaryColor;
  & .flexcontainer{
    @include flexcenter(column);
    align-items: center;
  }
  & i{
    display:inline-block;
    font-size: 2rem;
    margin-left: .5rem;
    margin-bottom: .5rem;
  }
  #footerplay:hover, #footerstop:hover{
    color: $pointColor;
  }
}
.intro{
  @include flexcenter(row);
  justify-content:center;
  align-items: center;
  background-color: $secondaryColor;
  position: fixed;
  top: 0;
  left: 0;
  z-index:1;
  width:100%;
  height:100%;
  & .text{
  font-family: 'Montserrat', sans-serif;
  color: $primaryColor;
  font-size: 3rem;
  display:inline-block;
  padding-bottom:2.5rem;
  line-height: 4.5rem;
  }
  & .hide{
    background-color: $secondaryColor;
    overflow:hidden;
  }
  & .hide span{
    display:inline-block;
    transform: translateY(100%);

  }
}
.slider{
  @include flexcenter(row);
  justify-content:center;
  align-items: center;
  background-color: $pointColor;
  position: fixed;
  top: 0;
  left: 0;
  z-index:1;
  width:100%;
  height:100%;
  transform: translateY(100%);
}
@media (max-width:770px){
  header{
    position:fixed;
    z-index: 1;
    width:100%;
  }
  main{
    margin:2rem 0;
    & #section-a {
      @include flexcenter(row);
      align-items:center;
      justify-content: center;
      text-align:center;
      padding:1rem;
      height:auto;
      & .albumbox {
        @include maintext;
        width: 260px;
        height:255px;
        margin:1.5rem 0;
        padding:1rem;
      }
    }  
    #section-b{
      display:none;
    }
  }
  footer{
    display:none;
  }
  .intro{
    text-align:center;
  }
}